body{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 4px 8px 0 0;
    padding: 8px;
    min-height: 32px;
}

.task {
    width: 500px;
    background-color: lightgray;
}

.added, .action{
    width: 100px;
    background-color: bisque;
}

.header {
    font-weight: bold;
}

form {
    margin: 10px;
}